%h2= @user.name
#follow
  - if user_signed_in? && current_user != @user
    - if current_user.following?(@user)
      = form_tag following_path(@user), :method => :delete do
        = submit_tag "Unfollow"
    - else
      = form_tag following_index_path, :method => :post do
        = hidden_field_tag :user_id, @user.id
        = submit_tag "Follow"

%h3 Public activity
#activity
  - activity = @user.my_feed
  - if activity.empty?
    %p No recent activity
  - else
    %ul
      - activity.each do |event|
        %li= event_feed(event)