			<div id="home_left">
				<div id="welcome">
					<div class="my_desc">
						<p class="my_name">Welcome <%= (typeof name == 'undefined')? "" : name%> !</p></br></br></br>
					</div>				
				</div>
				<div id="my_following_feeds">
					<header><h2>What's up in my Kitchen ?</h2></header>

				<% if(typeof following_feed != 'undefined') { for(var i=0; i<Math.min(5,following_feed.length); i++) {%>
							<div class="one_following_feed"><div class="one_following_feed_pic"><img src="/images/recipe_pic.png" width="112" height="52" /></div>
							<div class="one_following_feed_content">
							<%= (typeof following_feed[i].user.name == 'undefined')? "" : following_feed[i].user.name%> <%= (typeof following_feed[i].verb == 'undefined')? "" : following_feed[i].verb%> <%= (typeof following_feed[i].target.name == 'undefined')? "" : following_feed[i].target.name%> (<%= (typeof following_feed[i].time == 'undefined')? "" : following_feed[i].time%>)</div></div> 

				<% };} else {%>  
							<div class="one_following_feed"><div class="one_following_feed_pic"></div>
							<div class="one_following_feed_content">No feeds !</div></div>
			    <%}%>

				</div>
			</div>
			<div id="home_right">
				<div id="recomended_recipes">
					<header><h2>You would like to cook : </h2></header>

					<% if(typeof recipes_recs != 'undefined') { for(var i=0; i<Math.min(4,recipes_recs.length)); i++) {%>
					<div class="recomended_recipe"><div class="recomended_recipe_pic"><img src="/images/tarte.jpg" width="52" height="40" /></div><div class="recomended_recipe_content"><%= (typeof recipes_recs[i].name == 'undefined')? "" : recipes_recs[i].name%> </div></div>
				</div>
			    <%};}%>

				<div id="recomended_followings">
					<header><h2>You would like to follow :<h2></header>

					<% if(typeof following_recs != 'undefined') { for(var i=0; i<Math.min(8,following_recs).length; i++) {%>

					<div class="one_follow">
						<div class="one_follow-pic"><img src="/images/profile_pic.png" width="48" height="48"/></div>
						<div class="one_follow-name"><%= (typeof following_recs[i].name == 'undefined')? "" : following_recs[i].name%></div>
					</div>
			    	<%};}%>
				</div>
			</div>

