							<% if((typeof can_edit == 'undefined')? false : can_edit) {%>
								<div class="edit">	
									<h2><a  href="#inner_content_edit" rel="ibox&height=450&width=850title='Edit your Recipe'">EDIT</a><h2>								
								</div>
							<% } %>

							<div class="recipe_top">
								<div class="recipe_pic"></div>

								<div class="recipe_likes">
									<% if((typeof isFavorite == 'undefined')? false : isFavorite) {%>
									<img title="Add to my CookBook !" src='/images/star.jpg' class="star_pic opacity" height="26px" width="26px"/></br>
									<% } 
									else {%>
									<img title="Add to my CookBook !" src='/images/star.jpg' class="star_pic" height="26px" width="26px"/></br>
									<% } %>

									<img title="Cooked !" src='/images/check.png' class="check_pic" height="26px" width="26px"/>

									<% if((typeof isLiked == 'undefined')? false : isLiked) {%>
									<img title="Unlike !" class="like_pic" src='/images/dislike.png' height="26px" width="53px"/><span class="ok"></span>
									<% } 
								 	else {%>
									<img title="Like !" class="like_pic"src='/images/like.jpg' height="26px" width="53px"/><span class="ok"></span>
									<% } %>

								</div>	
							</div>
							<div class="recipe_title"><h2><%= name %><h2></div>
						
							<div class="recipe_from">
								<div class="posted">posted by : <span class="name">
								<a><% if((typeof author == 'undefined')? false : true) { (typeof author.name == 'undefined')? "" : author.name} %></a></span></div> 

							<% if(((typeof author == 'undefined')? false : author) && ((typeof author.isFollowed == 'undefined')? false : author.isFollowed)) {%> 
								<img class="foll_pic following" height="26px" width="64px"/>	
							<% } 
							else {%>
								<img class="foll_pic follow" height="26px" width="64px"/>	
							<% } %>
							</div>

							<div class="recipe_when">
								<p>Already cooked ? 
								<% if(((typeof history == 'undefined')? false : true) && ((typeof history[0] == 'undefined')? false : true) && (history.length>0)) {%>  
									<span class="yes">Yes, on the 
									<%= (typeof history[0].created_at == 'undefined')? "" : history[0].created_at%>
									</span>
								<% }
								else {%> <span class="no">No, try it !</span>
								<% } %>
								</p>
							</div>							

							<div class="wrapper"> 
								<div class="accordionButton">Ingredients</div> 
								<div class="accordionContent">
											<% if(typeof ingredients != 'undefined') { for(var i=0; i<ingredients.length; i++) {%>
												<div class="trigger"><%= (typeof ingredients[i].name == 'undefined')? "" : ingredients[i].name%></div> 
												<div class="accordContent" style="display: none;">
														<a href=""><div class="topp" data-ingredient='<%= i %>'>Don't show recipes with :</div></a>
														<a href=""><div class="bott" data-ingredient='<%= i %>'>Show only recipes with :</div></a>
												</div> 
											<% }} %>
								</div> 
								<div class="accordionButton">Recipe</div> 
								<div class="accordionContent" class="content_recipe">
									<%= (typeof content == 'undefined')? "" : content%>
								</div>
								<div class="accordionButton">Tags</div> 
								<div class="accordionContent" class="content_recipe">
									<% (typeof tag_counts == 'undefined')? "" : tag_counts.join(" - ") %>
								</div>

							</div>
