<h2>Join us</h2>

<%= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
  <%= messages_on_error resource %>

	<p><%= f.label :name, "Type your name" %><%= f.text_field :name %></p>
	
  <p><%= f.label :email, "Type your email address" %><%= f.email_field :email %></p>

  <p><%= f.label :password, "Choose a password" %><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation, "Confirm your password" %><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Create my profile" %></p>
<% end %>